@import '~@angular/material/theming';
@include mat-core();

$assOnline-app-primary: mat-palette($mat-grey);
$assOnline-app-accent:  mat-palette($mat-amber, A200, A100, A400);
$assOnline-app-warn:    mat-palette($mat-red);


$assOnline-app-theme: mat-light-theme($assOnline-app-primary, $assOnline-app-accent, $assOnline-app-warn);
@include angular-material-theme($assOnline-app-theme);

body{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #F8F8F8;
}


.space-form-item{
  margin-bottom: 30px;
}

.container{
  padding-top: 40px;
}

.close-btn{
    &:focus {
        outline: 0;
    }

    cursor: pointer;
    background: none;
    border: none;
    
    .close-animation {
        $size: 15px;
        height: $size;
        width: $size;
        position: relative;
        box-sizing: border-box;
        line-height: $size;
        display: inline-block;

        &:before, &:after {
            $width: 15px;
            $height: 2px;
            transform: rotate(-45deg);
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -$height/2;
            margin-left: -$width/2;
            display: block;
            height: $height;
            width: $width;
            background-color: gray;
            transition: all 0.25s ease-out;
        }

        &:focus {
            outline: 0;
        }

        &:after {
            transform: rotate(-135deg);
        }

        &:hover {

            &:before, &:after {
                transform: rotate(0deg);
            }
        }
    }
    
}