@import '~@angular/material/theming';
@include mat-core();

$assOnline-app-primary: mat-palette($mat-grey);
$assOnline-app-accent:  mat-palette($mat-amber, A200, A100, A400);
$assOnline-app-warn:    mat-palette($mat-red);


$assOnline-app-theme: mat-light-theme($assOnline-app-primary, $assOnline-app-accent, $assOnline-app-warn);
@include angular-material-theme($assOnline-app-theme);

body{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #F8F8F8;
}


.space-form-item{
  margin-bottom: 30px;
}

.container{
  padding-top: 40px;
}