<div    class="app-header" 
        fxLayout="column"
        fxLayoutAlign="space-around none"
        [@authenticated]="authState">

    <div    class="app-navigation" 
            fxLayout="row"
            fxLayoutAlign="space-between center">
            
            <div        class="quic-app-icon" 
                        fxLayout="row"
                        fxLayoutAlign="start none"
                        fxFlex="183px">
                <md-icon svgIcon="quicApp"></md-icon>
                <span [class.white]="authenticated">quicApp</span>
            </div>

            <div class="common-links" fxFlex="70%"></div>

            <user   *ngIf="authenticated"
                    [authenticated]="authenticated" fxFlex="190px"></user>
            
            <button class="login-btn"
                    *ngIf="!authenticated"
                    md-button
                    fxFlex="80px"
                    (click)="auth.login()">
                Log In
            </button>
    </div>
    <div    class="app-state"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            *ngIf="authenticated">
    
            <div class="state-name" fxFlex="30%">
               <h1>{{ stateName }}</h1>
            </div>
            <div fxFlex="70%">
                
            </div>

    </div>

</div>

