:host(app-header){
    .app-header{
        min-height: 38px;

        .app-navigation{

            .quic-app-icon{
                margin-left: 4px;
            }

            .common-links{

            }

            .login-btn{
                line-height: 30px;
                margin-right: 4px;
            }
        }

        .app-state{
            height: 100px;
        }
    }
}