.user{
    color: white;
    font-size: 12px;

    .user-avatar{
        padding: 5px;

        img{
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid #d6d6d6;
            padding: 1px;
        }
    }

    
}