<div    class="document-box" 
        fxFlex="300px">

    <div class="document-icon">
        <div class="folder-icon-circle">
            <md-icon>photo</md-icon>
        </div>
    </div>

    <div    class="document-info"
            fxLayout="column">
        <h3>{{data.name}}</h3>
        <span class="created-time">Created at: {{data.creationTime | date:'medium'}}</span>
    </div>

    <div class="overlay-content">
        <button     class="delete-btn" 
                    md-mini-fab
                    (click)="deleteDocument()">
            <md-icon>delete_forever</md-icon>
        </button>
        <a class="view-btn position-center" md-raised-button [routerLink]="['.', data._id]">VIEW</a>
    </div>
</div>